<div class="main_container">
  <h1>{{title}}</h1>
  <table class="table table-hover table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Indicador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Unidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Valor</th>
        <th scope="col">AVG</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of indicadoresProfiles">
        <th scope="row"># {{profile.key}}</th>
        <td>{{profile.name}}</td>
        <td>{{profile.unit}}</td>
        <td>{{profile.date * 1000 | date : "yyyy/MM/dd"}}</td>
        <td>{{profile.value}}</td>
        <td>{{profile.profile["avg_comp-ute"]}}</td>
        <td>{{profile.profile["len"]}}</td>
      </tr>
    </tbody>
  </table>
</div>